* {
    margin: 0px;
    padding:  0px;
    height: auto;
    width: auto;
    
}


#container-fluid {
    margin-top: 20px;
    height: 700px;
    
}


.navMenu ul {
    /*color: white;*/
}

.navMenu ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 1.3em;
    width: 150px;
    height: 60px;
    text-decoration: none;
    /*border: 1px solid blue;*/
    border-radius: 10px;
    /*background-color: blue;*/
    text-align: center;
}

.navMenu ul li a {
    /*color: white;*/
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
}

.navMenu ul li a:hover {
    background-color: black;
    color: gray;
}


.footerGeral{
    /*display: block;*/
    /*margin-left: 2px;*/
    background-color: yellow;
    width: auto;
    /*width: 1320px;*/
    /*margin-left: 5px;*/
    
}

.footerBotoes {
    margin-left: 5px;
    /*float: left;*/
    width: auto;
    /*background-color: aqua;*/
}

/*Montadora INICIO*/
.CadMontMenu ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 1.1em;
    width: 140px;
    height: 40px;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    
}
.CadMontMenu ul li a {
    color: white;
    text-align: center;
}

.CadMontMenu ul li a:hover {
    color: green;
    background-color: white;
}
/*Montadora FIM*/

/*Tipo INICIO*/
.CadTipoMenu ul li {
    text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    font-size: 1.1em;
    width: 140px;
    height: 40px;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    
}
.CadTipoMenu ul li a {
    color: white;
    text-align: center;
}

.CadTipoMenu ul li a:hover {
    color: green;
    background-color: white;
}
/*Tipo FIM*/

.b_voltar {
    margin-left: 20px; 
    float: left;
    font-size: 1.1em;
    width: 140px;
    height: 40px;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: red;
    color: white;
    text-align: center;
    
}
.b_voltar a {
    color: white;
}

.b_add {
    margin-left: 20px; 
    float: left;
    font-size: 1.1em;
    width: 140px;
    height: 40px;
    text-decoration: none;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: blue;
    color: white;
    text-align: center;
    
}

table, th, td {
    border: 1px solid blue;
    width: 500px;
    height: auto;
}

#salvarVeic {
    border: 1px solid black;
    display: block;
    width: 400px;
    height: auto;
    margin-left: 50px;
    margin-bottom: auto;
}

.l1 {
    margin-left: 20px;
    width: 300px;
    text-align: justify;
}


#perro1, #perro2, #perro3, #perro4, #perro5 {
    font-size: 1.1em;
    margin-left: 50px;
    height: 14px;
    width: auto;
}